﻿<div data-options="dxView : { name: 'login', title: 'Aanmelden'} ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="loginform" style="font-family: Roboto, sans-serif">
            <h1>Aanmelden</h1>
            <div class="Logo"></div>
            <p>
                <input type="text" class="input" placeholder="UserID" data-bind="value: userID">
                <input type="password" class="input" placeholder="Wachtwoord" data-bind="value: password">
                <p class="erormsg"></p>
            </p>
            <p>
                <div class="btn" data-bind="click: $root.logIn">
                    Aanmelden
                </div>
                <div id="small-indicator"></div>
            </p>
        </div>

    </div>
</div>

