﻿<div data-options="dxView : { name: 'About', title: 'About', pane: 'master' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">I2MEPDMobile</p>
            <p style="padding: 5px">Modify this view to describe your application and provide additional information.</p>

            <p style="padding: 5px">To learn more about DevExtreme, visit <a href="http://help.devexpress.com/DevExtreme" target="_blank">http://help.devexpress.com/DevExtreme</a>. It is an interactive learning environment where you can find documentation, feature demonstrations, and various tutorials.</p>

            <p style="padding: 5px">If you have any questions about DevExtreme, do not hesitate to contact our support team via <a href="http://support.devexpress.com" target="_blank">http://support.devexpress.com</a>. </p>
        </div>
    </div>
</div>