﻿@model DevExtremeMvcApp1.av_AppointmentsWidget

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>av_AppointmentsWidget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptClassCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptClassCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolledigeNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolledigeNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptStatusColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptStatusColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptClassColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptClassColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientPersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaStColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaStColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaCancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaCancelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceAbbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceAbbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptClassDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptClassDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientMissingData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientMissingData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientRemarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
