﻿@model IEnumerable<DevExtremeMvcApp1.av_AppointmentsWidget>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptClassCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolledigeNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptStatusColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptClassColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientPersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaStColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaCancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceAbbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptClassDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientMissingData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientRemarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSpan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptClassCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolledigeNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptStatusColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptClassColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientPersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaStColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaCancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaStatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptClassDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientMissingData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientRemarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApptID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApptID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApptID })
        </td>
    </tr>
}

</table>
