﻿<script>
    //getUserSetting(setting) {
    //    AppointmentColor
    //}
        var appointments = new DevExpress.data.ODataStore({
            url: "http://localhost:50188/odata/AppointmentsWidget",
            key: 'ApptID',

            errorHandler: function (error) {
                DevExpress.ui.notify(error.message, "error");
            },
        })

        function filterAppointments() {
            var dateSelect = $('#dateSelect').dxDateBox('instance');
            
            var dataGrid = $('#gridContainer').dxDataGrid('instance');
            var resourceSelect = $("#resourceSelect").dxSelectBox("instance")


            if (dateSelect.option("value") == null) {
                var current = new Date();
                current.setDate(current.getDate() + parseInt(-200));
                dateSelect.option("value",current)
            }

            var filter = ["Start", ">", dateSelect.option("value")]

            if (resourceSelect.option("value") != null) {
                filter = [["Start", ">", dateSelect.option("value")], "and", ["ResourceID", "=", resourceSelect.option("value")]]
            }
            dataGrid.option('dataSource', appointments)
            dataGrid.filter(filter);
        }

        function resourceSelectFieldTemplate(data, container) {
            var img; var resourceDesc
            if (data != null) {
                img = "<img src='../Content/" + data.URL + "'/>"
                resourceDesc = data.ResourceDesc + ", " + data.ResTypeDesc
            }
            else {
                img = ""
                resourceDesc = "Alle"
            }
            var template = $("<div class='resourceSelect'>" + img + "<div class='ResourceInfo'></div></div>");
            template
            .find(".ResourceInfo")
            .dxTextBox({
                value: resourceDesc,
                readOnly: true
            });
            container.append(template);
        }

        function resourceSelectItemTemplate(data) {
            return "<div class='resourceSelect'><img src='../Content/" + data.URL + "' /><div class='ResourceInfo'>" + data.ResourceDesc + "<br>" + data.ResTypeDesc + "</div></div>";
        }

</script>
<table style="width:100%">
    <tr>
        <td width="80px">
            <table style="width:100%">
                <tr>
                    <td>
                        @(Html.DevExtreme().DateBox()
                            .ID("dateSelect")
                            .Type(DateBoxType.Date)
                        //.Value(DateTime.Today) // Seems not to work, use seperate function to set
                        .OnValueChanged("function (data) {filterAppointments();}")
                        )
                    </td>
                    <td>
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .OnClick("function() {navigateDay(-1);}")
                            .ID("previousday")
                        )
                    </td>
                    <td>
                        @(Html.DevExtreme().Button()
                            .Icon("chevronright")
                            .OnClick("function() {navigateDay(1);}")
                            .ID("nextday")
                        )
                    </td>
                    <td>
                        @(Html.DevExtreme().Button()
                            .Icon("refresh")
                            .OnClick("function() {filterAppointments(); DevExpress.ui.notify('Vernieuwd');}")
                        )
                    </td>
                </tr>
            </table>
            </td>
        <td>
            @(Html.DevExtreme().SelectBox()
                .ID("resourceSelect")
                .DataSource(ds => ds
                            .OData()
                                .Version(4)
                                .Url("http://localhost:50188/odata/Resources")
                )
                .DisplayExpr("ResourceDesc")
                .ValueExpr("ResourceID")
                .Value(303)
                .SearchEnabled(true)
                .NoDataText("Geen resources")
                .ShowClearButton(true)
                .Placeholder("Alle resources")
                .FieldTemplate(new JS("resourceSelectFieldTemplate"))
                .ItemTemplate(new JS("resourceSelectItemTemplate"))
                .OnSelectionChanged("function () {filterAppointments();}")
            )
        </td>
        <td width="20px">
            @(Html.DevExtreme().Button()
                            .Icon("preferences")
                            .OnClick("function() {settingspopup().option('visible',true);}")
                            .ID("preferences")
            )
        </td>
<tr>
        <td colspan="6">
            <div id="gridContainer"></div>
            <div class="options">
                <div id="autoExpand"></div>
            </div>
        </td>
    </tr>
</table>
@(Html.DevExtreme().Popup()
    .Visible(false)
    .ShowTitle(true)
    .ID("popup")
    .Title("Instellingen")
    .Width(new JS("function() { if ($(window).width() > 400) { return 500 } }"))
    .Height("500px")
    .ContentTemplate(@<Text>
    <div class="dx-fieldset form">
        <div class="dx-field">
            <div class="dx-field-label">Afspraak soort als</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Switch()
                        .Name("Setting_Afspraakcode")
                        .OnText("Code")
                        .OffText("Omschrijving")
                        .Width("120px")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Behandelaar als</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Switch()
                        .Name("Setting_BehandelaarCode")
                        .OnText("Code")
                        .OffText("Omschrijving")
                        .Width("120px")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Afspraak kleur</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().SelectBox()
                        .Name("Setting_Color")
                        .DataSource(new[] { "Afspraak status", "Afspraak soort", "Geregistreerd" })
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Geannuleerde afspraken</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Switch()
                        .Name("Setting_Geannuleerdeafpraken")
                        .OnText("Tonen")
                        .OffText("Verbergen")
                        .Width("120px")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Automatisch verversen</div>
            <div class="dx-field-value">
                <div id="slider-simple"></div>
            </div>
        </div>
    </div>
    <div>
        <table align="right"><tr><td>
    @(Html.DevExtreme().Button()
                        .Type(ButtonType.Success)
                        .Text("Toepassen")
                        .OnClick("function() {settingspopup().option('visible', false);}")
    )
</td>
<td>
    @(Html.DevExtreme().Button()
                        .Type(ButtonType.Danger)
                        .Text("Annuleren")
                        .OnClick("function() {settingspopup().option('visible', false);}")
    )
</td></tr></table>
    </div>
</text>)
)
            <script>
               
                function navigateDay(number) {
                    var dateSelect = $('#dateSelect').dxDateBox('instance');
                    var dat = new Date();
                    dat = dateSelect.option('value');
                    dat.setDate(dat.getDate() + parseInt(number));
                    dateSelect.option('value', dat);
                    filterAppointments();
                    dateSelect.repaint();
                }
                function settingspopup() {
                    return $('#popup').dxPopup('instance');
                }
              
            </script>
            <style type="text/css">
                .dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                .dateSelect {
                    width: 100%;
                }

                .resourceSelect {
                    position: relative;
                    min-height: 30px;
                    width: 100%;
                }

                    .resourceSelect .ResourceInfo {
                        padding-left: 45px;
                        text-indent: 0;
                        font-size: 15px;
                    }

                    .resourceSelect > img {
                        	width: 35px;
                            top: 35%;
                            left: 1px;
	                        /*border-radius: 20px;
	                        -webkit-border-radius: 20px;
	                        -moz-border-radius: 20px;*/
                            position: absolute;
                            margin-top: -20px;
                    }
            </style>
            <script>
                $(window).resize(function () { onResize() });

                function onResize() {
                    $("#gridContainer").height($(window).height() - ($("#gridContainer").offset().top + 100));
                }

                $(function () {
                    $("#gridContainer").dxDataGrid({
                        paging: { enabled: true, pageSize: 100 },
                        columns: [
                            "VolledigeNaam",
                            {
                                visible: false,
                                dataField: "Group",
                                groupIndex: 0
                            }
                        ],

                        onCellPrepared: function (options) {
                            if (options.column.dataField == 'Group' && options.rowType == 'group') {
                                var fieldData = options.row.data.items[0]['Label'],
                                    fieldHtml = "";
                                fieldHtml = fieldData
                                var bgColor = options.row.data.items[0]['ApptClassColor']
                                options.cellElement.html(fieldData).css('background', bgColor).css('color', calculateFontColor(bgColor))
                                var PatientMissingData = options.row.data.items[0]['PatientMissingData']
                                var template = "<span >"
                                var img = $('<img />', {
                                    src: "../Content/icons/warning_16.png",
                                    title: PatientMissingData
                                }).tooltip({ effect: 'slide' });
                                options.cellElement.append(img);
                            }
                        }
                    }
                    );
                });

                function calculateFontColor($color) {
                    if ((hexToRgb($color).r * 0.299 + hexToRgb($color).g * 0.587 + hexToRgb($color).b * 0.114) > 186) { return '#000000' } else { return '#ffffff'; }
                }

                function hexToRgb(hex) {
                    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                    return result ? {
                        r: parseInt(result[1], 16),
                        g: parseInt(result[2], 16),
                        b: parseInt(result[3], 16)
                    } : null;
                }


            </script>
