﻿
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div style="width: auto; background-color: #728ea7;">
    @if (Request.IsAuthenticated)
    {
        <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Sign Out", "Logout", "User")
    }
    else
    {
        @Html.ActionLink("Register", "Register", "User")
        <span> | </span>
            @Html.ActionLink("Sign In", "Login", "User")
    }
</div>


@(Html.DevExtreme().DataGrid()
    .ShowBorders(true)
    .DataSource(d => d.WebApi().Controller("Orders").Key("OrderID"))
    .Columns(columns => {
        columns.Add().DataField("OrderID");
        columns.Add().DataField("OrderDate").DataType(GridColumnDataType.Date);
        columns.Add().DataField("CustomerName");
        columns.Add().DataField("ShipCountry");
        columns.Add().DataField("ShipCity");
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.Add().Column("ShipCity").SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)