﻿@model DevExtremeMvcApp1.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
.form {
  /*position: relative;*/
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  /*margin: 0 auto 100px;*/
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

</style>
    @using (Html.BeginForm())
    {
        using (Html.DevExtreme().ValidationGroup())
        {
        <div>
            <div class="dx-fieldset form">
                <div class="dx-field">
                    @(Html.DevExtreme().TextBox()
                        .ID("Gebruikersnaam")
                        .Width("100%")
                        .Name("UserID")
                        .Placeholder("Gebruikernaam")
                    )
                    @Html.ValidationMessageFor(u => u.UserID)
                </div>
                <div class="dx-field">
                    @(Html.DevExtreme().TextBox()
                        .ID("Wachtwoord")
                        .Width("100%")
                         .Name("Password")
                         .Placeholder("Wachtwoord")
                         .Mode(TextBoxMode.Password)
                    )
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                                @*@Html.ValidationMessageFor(u => u.TelephoneMobile)
        <div class="dx-field-label">Telefoon</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .ID("TelephoneMobile")
                .Width(100)
                 .Name("TelephoneMobile")
                 .Placeholder("Mobiele telefoonummer")
                 .Mode(TextBoxMode.Tel)
             .Mask("+1 (X00) 000-0000")
            .MaskRules(new { X = new JS("/[02-9]/") })
            .MaskInvalidMessage("The phone must have a correct USA phone format")
            .UseMaskedValue(true)
            )
        </div>
        @Html.ValidationMessageFor(u => u.Email)
        <div class="dx-field-label">Email</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .ID("Email")
                .Width(100)
                 .Name("Email")
                 .Placeholder("Email adres")
                 .Mode(TextBoxMode.Email)
            )
        </div>
        @Html.ValidationMessageFor(u => u.Password)*@
             
                <div style="text-align:center; width:100%">
                    @(Html.DevExtreme().Button()
            .ID("submitButton") // sets the "id" attribute of the widget container
            .Text("AANMELDEN") // sets the button text
            .Width("100%")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
                    )
                </div>
            </div>
        </div>
        }
    }
