﻿@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, 
body, 
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.delete-button {
    text-align: center;
}
.delete-button div {
    width: 98%;
}
.msg {
    width: 100%;
    padding-bottom: 10px;
}
.dx-theme-ios .msg-button-left {
    width: 44%;
    margin: 0 4% 0 0;    
    float: left;
}
.dx-theme-ios .msg-button-right {
    width: 44%;
    margin: 0 0 0 4%;    
    float: left;
}

.dx-theme-ios #deleteConfirmation {
    height: 135px !important;
}

.dx-theme-android .msg-button-left {
    width: 42%;
    margin: 0 3% 0 0;    
    float: left;
}
.dx-theme-android .msg-button-right {
    width: 42%;
    margin: 0 0 0 3%;    
    float: left;
}
.dx-theme-android #deleteConfirmation {
    height: 150px !important;
}

.Logo {
    /*Define width and hight in embedded style !*/
    background-image:url("content/MedicareSmallLogo2.gif");
    background-repeat: no-repeat;
}

.statuscolorbox {
    width: 20px;
    height: 20px;
    float: left;
    box-shadow: 1px 1px 1px #888888;
}
.cancelledimage {
    margin: 0;
    padding: 1px;
    width: 20px; 
    height: 20px; 
}

warningimage {
    margin: 0;
    padding: 1px;
    width: 20px; 
    height: 20px; 
}

.loginform {
    z-index: 1;
    background: #FFFFFF;
    max-width: 200px;
    top: 10px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 5px ;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.erormsg {
    color: #D8000C;
}
